<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GaanaEntities" connectionString="metadata=res://*/DataAccess.Gaana.csdl|res://*/DataAccess.Gaana.ssdl|res://*/DataAccess.Gaana.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlExpress;initial catalog=Gaana;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>